body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Add this line */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://scontent.fmnl25-3.fna.fbcdn.net/v/t39.30808-6/269270481_479745530422681_4373048994099392171_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGRPqH0zuY9eGK49UnZfM26c_tZguHHPUdz-1mC4cc9R8QdQ7UpwQ2irVUChTaa4AG8_kKcLQoRfNi2VLwclpwT&_nc_ohc=8vJudHZddAAQ7kNvgG3-vZZ&_nc_ht=scontent.fmnl25-3.fna&oh=00_AfAjY-UNhvbI367KQIukEPwLQFMOg07-hTcVp_Rt3meChg&oe=663640C0c_ht=scontent.fmnl25-3.fna&oh=00_AfAjY-UNhvbI367KQIukEPwLQFMOg07-hTcVp_Rt3meChg&oe=663640C0');
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px); /* Apply blur effect */
    -webkit-filter: blur(5px); /* For compatibility with older browsers */
    z-index: -1; /* Push it behind the content */
}

.header {
    overflow: hidden;
    background-color: rgba(6, 19, 11, 0.493);
    padding: 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Adjusted to align items vertically */
}

.section-container {
    margin-bottom: 20px; /* Add margin between sections */
}

.container {
    background-color: #ccc;
    border: 2px solid #000;
    width: calc(50% - 20px); /* 50% width minus margin */
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.button-container {
    text-align: center;
    margin-top: 10px; /* Adjusted margin */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #219252;
    color: white;
    border: 1px solid #501c1c;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 10px;
}

button:last-child {
    margin-bottom: 0;
}

button:hover {
    background-color: #45a049;
}

.button-back {
    position: fixed;
    bottom: 20px; /* Adjust this value as needed */
    right: 10000px; /* Adjust this value as needed */
}
