body {
  font-family: Arial, sans-serif;
  background-image: url('');
  background-repeat: no-repeat;
  image-rendering: optimizeQuality;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0%;
  margin: 0%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678), 0 0 10px rgba(0, 0, 0, 0.719);
  color: rgb(0, 0, 0);
}

.logo {
  align-items:center ;
  width: 70px;
  height: 50px;
  display: block;
  margin: 0 auto; 
  background-image: url('logo.png');
  background-size: cover;
  background-repeat: round;
  margin-right: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}

.container {
  text-align: center;
  text-shadow: #999797;
  margin-top: 2%;
  position: relative;
  padding: 1px;
  width: 70%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.719);
  background-color: #ffffffb7;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #501c1c;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
  width: 100%; /* Make the input fields as wide as the container */
}

button {
  padding: 10px;
  margin-top: 15px; /* Add space between the dropdown list and button */
  margin-bottom: 15px; /* Add space between the button and the next form */
  border: none;
  background-color: #219252;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%; /* Make the button as wide as the container */
}

button:hover {
  background-color: #45a049;
}

.header {
  overflow: hidden;
  background-color: rgba(6, 19, 11, 0.493);
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}

.header a {
  float: left;
  color: rgb(1, 2, 1);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  margin-right: 8px;
  background-color: #999797;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.social-media {
  margin-top: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
}
/* new */
.c-item {
  height: 180px;
}
.c-img {
  height: 100%;
  object-fit:cover;
  filter: brightness(0.5);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678), 0 0 10px rgba(0, 0, 0, 0.719);
  margin: 110px;
  margin-top: 0%;
  padding: 0%;
}
